@tailwind base;
@tailwind components;
@tailwind utilities;

  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  .dark {
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}  

/* Adicione no seu arquivo global.css */
.cropper {
    border-radius: 0.5rem;
    background-color: transparent;
}

.cropper .react-advanced-cropper-background {
    background: transparent;
}

.cropper .react-advanced-cropper-stencil {
    border-radius: 0.5rem;
}

/* Scrollbar do Dialog */
.dialog-scroll-container::-webkit-scrollbar {
  width: 10px;
}

.dialog-scroll-container::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 8px; /* Recuo vertical */
}

.dialog-scroll-container::-webkit-scrollbar-thumb {
  background: #d1d5db; /* Cinza */
  border-radius: 9999px;
  border: 2px solid transparent; /* Borda transparente para recuo */
  background-clip: padding-box; /* Impede vazamento da cor */
}

.dialog-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #4ade80; /* Verde no hover */
}

/* Fallback para Firefox */
.dialog-scroll-container {
  /* scrollbar-width: thin; */
  scrollbar-color: #d1d5db transparent;
}

.dialog-scroll-container:hover {
  scrollbar-color: #4ade80 transparent;
}

