.dayPickerWrapper {
  width: 100%;
}

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #01C14C;
  --rdp-background-color: #e7f8ed;
  margin: 0;
  width: 100%;
}

.rdp :global(.rdp-day),
.rdp :global(.rdp-weeknumber) {
  border-radius: 0px !important;
  height: fit-content !important;
}

.rdp-day_selected:not(.rdp-day_disabled):not(.rdp-day_outside) {
  color: white;
}